.slider-range{
    width: 250px;
    p {
        margin: 0.5em 0;
        display: flex;
        label{
            font-size: 0.8em;
            font-weight: 600;
        }
        input{
            margin-left: auto;
            padding: 0px;
            text-align: right;
            width: 120px;
            border:0; 
            color:#f6931f; 
            font-weight:bold;   
        }
    }
}