.feedback
    .feedback__img
        img(src='./assets/img/feedback.png')
    .feedback__label
        label| <b>Марат Сарафанов</b>
        br
        label| 5 дней назад
    .feedback__like
        .feedback__like_span
            img(src='./assets/img/favorite.png')
            label| 12
    .feedback__message
        label| Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.