extends ../layout/main
include ../utils/mixin.pug

block variables
    - var title = 'Hotel Altay'
    - var pageClass = 'index-page'
    - var activePage = 1
    - var namePage = 'About Hotel'

block content
    section
        include ../layout/navbar.pug
    section
        .content
            .abouthotel
                .box1
                    br
                    h3 Hotel Altay Private Residences, Resp.Altay
                    label| <b>Adress:</b> 649777 Respublica Altay, selo Tuyngur, Choros-Gurkina, 10 (район горы Белуха)
                    br
                    br
                    label| Ближайший аэропорт - аэропорт Горно-Алтайска
                    br
                    br
                    label| Бесплатная охраняемая парковка
                    br
                    br
                    label| 15 номеров различных категорий
                    br
                    br
                    label| Банный комплекс - прекрасная русская баня на 10 чел. и сауна на 5 чел., где можно восстановить силы после маршрута
                .box2
                    img(src="assets/img/moutain-modified-38.jpg")
