extends ../layout/main
include ../utils/mixin.pug

block variables
    - var title = 'Hotel Altay'
    - var pageClass = 'index-page'
    - var activePage = 2
    - var namePage = 'Бронирование'


block content
    .content
        include ../../pattern/form_bronirovat/f_bron.pug