//require(../../js/test.js)
//import ddd from '../js/test.js';

block variables
    - var autorized = 0;
    - var $dis = 1;
    
doctype html
html(lang='ru-RU')
    head
        title #{title}
        <link href="assets/css/jquery-ui.min.css" rel="stylesheet">
        <link href="assets/css/paginator-style.css" rel="stylesheet">
        <link href="assets/css/datepicker.min.css" rel="stylesheet">
        <link href="assets/css/css-stars.css" rel="stylesheet">
        <link href="assets/css/lightslider.min.css" rel="stylesheet">
        script(src="assets/js/jquery.min.js")
        script(src="assets/js/paginator.js")
        script(src="assets/js/jquery.barrating.js")
    body
        block signin
                .wp_modal(id="block_signin")
                    .signin
                        .signin__label
                            label| Войти
                            span(onClick="document.getElementById('block_signin').style.display='none';")| x
                        input(type="text" placeholder="Email" value='').signin__label_email
                        input(type="text" placeholder="Пароль")
                        a(click="")
                            +button320('Войти')
                        +div_empty_height('10px')
                        .signin__div
                            label| Нет аккаунта в Toxin?
                            a(href="register.html" class="btn btn-color")| Создать
        .wrapper
            block header
                .head
                    a(href="index.html").head_box1
                        .img
                            img(src='assets/img/Vector.png', alt="Домашняя страница")
                        +div_empty('10px')
                        .img
                            img(src='assets/img/TOXIN.png', alt="Домашняя страница")
                        
                    .head_box2
                        .head__menu
                            +head_info(namePage, activePage)    
                        label.head_account
                        +button_v4('LOGIN', '34px', '79px', 'main_sign_click()')
                        +div_empty('10px')
                        +button_v3('REGISTER', '34px', '110px')
            block content
                .content
            block foot
                .footer
                    .footer_box1
                        .logo
                            .img
                                img(src='assets/img/Vector.png', alt="Домашняя страница")
                            +div_empty('10px')
                            .img
                                img(src='assets/img/TOXIN.png', alt="Домашняя страница")
                        +div_empty_height('10px')
                        label| Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                    .comm_div    
                        .footer_box2
                            label.title| Навигация
                            +div_empty_height('10px')
                            label.other| О нас
                            +div_empty_height('10px')
                            label.other| Новости
                            +div_empty_height('10px')
                            label.other| Служба поддержки
                            +div_empty_height('10px')
                            label.other| Услуги
                        .footer_box2
                            label.title| О нас
                            +div_empty_height('10px')
                            label.other| О сервисе
                            +div_empty_height('10px')
                            label.other| Наша команда
                            +div_empty_height('10px')
                            label.other| Вакансии
                            +div_empty_height('10px')
                            label.other| Инвесторы
                        .footer_box2
                            label.title| Служба поддержки
                            +div_empty_height('10px')
                            label.other| Соглашения
                            +div_empty_height('10px')
                            label.other| Сообщества
                            +div_empty_height('10px')
                            label.other| Связь с нами
                        .footer_box2
                            label.title| Подписка
                            +div_empty_height('10px')
                            label.other| Получайте специальные предложения и новости сервиса
                            +div_empty_height('10px')
                            .email
                                input(type="text" placeholder="Email").signin_name
                                img(src='assets/img/arrow_forward2.png')
                .footer2
                    .footer2__box1
                        label| Copyright © 2018 Toxin отель. Все права зачищены.
                    .footer2__box2
                        .img
                            img(src='assets/img/golub.png', alt="Домашняя страница")
                        +div_empty('10px')
                        .img
                            img(src='assets/img/faceb.png', alt="Домашняя страница")
                        +div_empty('10px')
                        .img
                            img(src='assets/img/fignya.png', alt="Домашняя страница")

        script
            | function main_sign_click(){
            |   //let username = Cookies.get('wp_user');
            |   //if(username === undefined){    
            |       document.getElementById('block_signin').style.display='inline';
            |   //}else{
            |   //    Cookies.remove('wp_user');
            |   //    $('.signin__label_email').val('');
            |   //    $('.head_account').text('');
            |       //$('#sign_button').text('sign in');
            |  // }  
            |       $('.head_account').text("Юлий Цезарь");
            |       // Скрываем кнопки
            |       $('.buttonv4').attr("style","display: none");
            |       $('.buttonv3_gradient').attr("style","display: none");
            | }
            | function main_sign_in(){
            |   let username = Cookies.get('wp_user');
            |   if(username){
            |       //$('.signin__label_email').val(username);
            |       $('.head_account').text("Юлий Цезарь");
            |       //$('#sign_button').text('sign out');
            |       // Скрываем кнопки
            |       $('.buttonv4').attr("style","display: none");
            |       $('.buttonv3_gradient').attr("style","display: none");
            |   }
            | }
            | $(document).ready(function(){
            |   //main_sign_in(); 
            | });
